In [1]:
s='Python is great!'

In [2]:
print("난 말했다. '하하하'")

난 말했다. '하하하'

### 홑따옴표 또는 쌍따옴표 세 개 사용하기

In [3]:
hello="hello world!"

In [4]:
hello[1]

'e'

In [5]:
lang='python programming'

In [7]:
lang[3:10]

'hon pro'

In [10]:
a='hello'
b=' world'

In [11]:
a+b

'hello world'

In [12]:
name='Jung Hyeon Young'

In [13]:
name.upper()

'JUNG HYEON YOUNG'

In [14]:
name.lower()

'jung hyeon young'

In [15]:
name.isupper()

False

### 입출력문

In [16]:
math_score=77
science_score=88
english_score=99

In [17]:
print(math_score, science_score, english_score)

77 88 99

In [18]:
print("내 수학점수는 : ", math_score)

내 수학점수는 :  77

In [20]:
print("내 영어점수는 : ", english_score)

내 영어점수는 :  99

In [21]:
print("내 과학점수는 : ", science_score)

내 과학점수는 :  88

In [25]:
print("내 수학점수는 : {2}, 과학점수는{2}, 영어점수는{2}이다."
    .format(math_score, science_score, english_score))

내 수학점수는 : 99, 과학점수는99, 영어점수는99이다.

In [26]:
print?

In [28]:
print('a', end='\n\n')
print('n')

a

n

In [29]:
input()

hello

'hello'

In [30]:
name=input()

정현영

In [31]:
print(name)

정현영

In [32]:
input("이름을 입력하세요 : ")

이름을 입력하세요 : 정현영

'정현영'

In [33]:
name=input("이름을 입력하세요 : ")
phone=input("전화번호를 입력하세요 : ")
add=input("주소를 입력하세요 : ")

print("이름 : {}\n전화번호 : {}\n주소 : {}".format(name,phone,add))

이름을 입력하세요 : 정현영
전화번호를 입력하세요 : 01038984573
주소를 입력하세요 : 월곡
이름 : 정현영
전화번호 : 01038984573
주소 : 월곡

In [78]:
k_score=int(input("국어 성적을 입력하세요 : "))
m_score=int(input("수학 성적을 입력하세요 : "))
e_score=int(input("영어 성적을 입력하세요 : "))
total=k_score+m_score+e_score
mean=total/3
print("\n입력받은 성적")
print("``````````````")
print("국어 성적 : {}\n수학 성적 : {}\n영어 성적 : {}".format(k_score,m_score,e_score))
print("``````````````")
print("총점 : {}".format(total))
print("평균 : "+"{0:.2f}".format(mean))

국어 성적을 입력하세요 : 3
수학 성적을 입력하세요 : 4
영어 성적을 입력하세요 : 5

입력받은 성적
``````````````
국어 성적 : 3
수학 성적 : 4
영어 성적 : 5
``````````````
총점 : 12
평균 : 4.00

In [84]:
radius=int(input("반지름을 입력하세요 : "))
s=3.141592*pow(radius,2)
l=2*3.141592*radius
print("반지름 : {}".format(radius))
print("원의 넓이 : "+"{0:.3f}".format(s))
print("원의 둘레 : "+"{0:.3f}".format(l))

반지름을 입력하세요 : 5
반지름 : 5
원의 넓이 : 78.540
원의 둘레 : 31.416

In [85]:
num=(input("다섯 자리 숫자를 입력하시오 : "))
print(num[0]+","+num[1]+","+num[2]+","+num[3]+","+num[4])
input("끝내려면 엔터를 누르세요")

다섯 자리 숫자를 입력하시오 : 12345
1,2,3,4,5
끝내려면 엔터를 누르세요

''