#  1.list(리스트)
#  2.tuple(튜플)
#  3.set(집합)
#  4.dict(딕셔너리, 사전)

# 1.list(리스트)

In [1]:
score = [50,60,70,80,90,100,99,40]

In [2]:
score

[50, 60, 70, 80, 90, 100, 99, 40]

In [3]:
score[0]

50

In [4]:
score[0:3]

[50, 60, 70]

In [7]:
score[0]=88

In [8]:
score

[88, 60, 70, 80, 90, 100, 99, 40]

In [9]:
score[1:3]=[]

In [10]:
score

[88, 80, 90, 100, 99, 40]

In [11]:
철수 = [55,66]
영희 = [77,22]

## 리스트연산

In [12]:
철수+영희

[55, 66, 77, 22]

In [13]:
철수*2

[55, 66, 55, 66]

In [14]:
55 in 철수

True

In [15]:
list5=[1,2,3,4,5,6,7]

In [16]:
list5.append(100)

In [17]:
list5[-1]

100

In [18]:
list5.insert(2,444444)

In [19]:
list5

[1, 2, 444444, 3, 4, 5, 6, 7, 100]

In [20]:
list5.pop()

100

In [21]:
list5

[1, 2, 444444, 3, 4, 5, 6, 7]

In [22]:
명부 = ['철수','영희','건희','재영','대현']

In [23]:
명부[0]

'철수'

In [24]:
명부.remove('철수')

In [26]:
명부.clear()

In [27]:
list55=[4,3,5,1,2,6,7,8,3,3,5,6,1,2,3,6]

In [28]:
list55.sort()

# 사전(dict)

In [29]:
dict1 ={'철수':10, '영희':8}

In [38]:
성적 = {'가나다':80, '지서영':85, '정현영':88}

In [39]:
성적

{'가나다': 80, '정현영': 88, '지서영': 85}

In [36]:
성적.clear

In [42]:
성적3=list(성적.items())

In [43]:
type(성적3)

list

In [44]:
성적.keys()

dict_keys(['가나다', '지서영', '정현영'])

In [45]:
성적.values()

dict_values([80, 85, 88])

In [1]:
for k, v in 성적.items()

SyntaxError: invalid syntax (<ipython-input-1-638b6e8ea1e0>, line 1)

# for 반복문

# range()함수 : 일정 범위의 수를 반환한다.

In [2]:
list(range(5))

[0, 1, 2, 3, 4]

In [6]:
a=list(range(10))

In [7]:
a

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [8]:
b=list(range(3,999,300))

In [9]:
b

[3, 303, 603, 903]

## for문

In [12]:
names = ['현영','정갑','본관','하영','서영','두현']

In [13]:
for 이름 in names :
    print(이름)

현영
정갑
본관
하영
서영
두현

In [14]:
for 문자 in "불타는 금요일 입니다. 치맥!":
    print(문자)

불
타
는

금
요
일

입
니
다
.

치
맥
!

In [15]:
for al_up in 'abcdefg':
    print(al_up.upper())

A
B
C
D
E
F
G

In [23]:
for dan in range(2,10):
    for n in range(1,10):
        print(dan*n, end=' ')
    print()

2 4 6 8 10 12 14 16 18
3 6 9 12 15 18 21 24 27
4 8 12 16 20 24 28 32 36
5 10 15 20 25 30 35 40 45
6 12 18 24 30 36 42 48 54
7 14 21 28 35 42 49 56 63
8 16 24 32 40 48 56 64 72
9 18 27 36 45 54 63 72 81

In [24]:
for x in score.values():
    print(x)

NameError: name 'score' is not defined

In [22]:
for k,v in score.items():
    print("key는 : ",k,end=' ')
    print("values : ",v)

NameError: name 'score' is not defined

In [40]:
for a in range(0,10):
    print(a,end=' ')
print()
for b in range(0,50,5):
        print(b, end=' ')
print()
for c in range(10,0,-1):
    print(c, end=' ')

0 1 2 3 4 5 6 7 8 9
0 5 10 15 20 25 30 35 40 45
10 9 8 7 6 5 4 3 2 1

In [48]:
score=[]

for a in range(5):
    data=int(input('성적을 입력하시오 : '))
    score.append(data)

print()
print("입력한 성적들 : ",score)
print("최고 성적 : ",max(score))
print("최저 성적 : ",min(score))

mean =

성적을 입력하시오 : 2
성적을 입력하시오 : 3
성적을 입력하시오 : 4
성적을 입력하시오 : 5
성적을 입력하시오 : 6

입력한 성적들 :  [2, 3, 4, 5, 6]
최고 성적 :  6
최저 성적 :  2